[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "aiofiles>=25.1.0",
    "aiohttp>=3.13.3",
    "prompt-toolkit>=3.0.52",
    "pyyaml>=6.0.3",
    "rich>=14.3.2",
]
